{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <title>GRS Firm</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>
 
  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h2><a href="{% url 'core:index' %}" class="scrollto">BRCA Firm</a></h2>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% url 'core:index' %}">Home</a></li>
          <li><a href="">Financial & Audit</a>
            <ul>
              <li><a href="{% url 'core:audit_coordination' %}">Audit Co-ordination</a></li>
              <li><a href="{% url 'core:bookkeeping' %}">Book Keeping</a></li>
               <li><a href="{% url 'core:external_audit' %}">External Audit</a></li>
                <li><a href="{% url 'core:internal_audit' %}">Internal Audit</a></li>
            </ul>
          </li>
          <li><a href="{% url 'core:Taxationservices' %}">Taxation Services</a>
            <ul>
              <li><a href="{% url 'core:Taxationservices' %}#corporate-taxes">Corporate Taxes</a></li>
              <li><a href="{% url 'core:Taxationservices' %}#ntn-registration">NTN Registration</a></li>
              <li><a href="{% url 'core:Taxationservices' %}#income-taxes">Income Taxes</a></li>
            </ul>
          </li>
          </li>
          <li><a href="{% url 'core:advisory' %}">Buisness Advisory</a></li>
          <li class="menu-has-children"><a href="">Registation & Licensing Services</a>
            <ul>
              <li><a href="{% url 'core:ngo_registration_licensing' %}">NGO'S Registration and Licensing</a></li>
              <li><a href="{% url 'core:corporate_registration_licensing' %}">Corporate Registation and Licensing</a></li>
              <li><a href="{% url 'core:company_registration_withscep' %}">Company Registration with SECP</a></li>
            </ul>
          </li>
          <li><a href="{% url 'core:index'%}#about-us">About Us</a></li>
          <li><a href="{% url 'core:index'%}#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
{% block content%}

{% endblock content %}

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h4>BRCA CONSULTANCY</h4>
            <p>BRCA Consulting brings extensive experience to assist clients in achieving their financial objectives.
               We have a proven track record of enabling client growth and optimizing their financial standing, resulting in a strong and diverse clientele comprising non-profit organizations, corporations, businesses, and individuals. While our core expertise lies in audit, tax, outsourced accounting, and risk advisory services,
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              3rd Floor OPTP Building <br>
              Spring North, Bahria Phase 7<br>
              Islamabad <br>
              <strong>Phone:</strong> +92 3349449944<br>
              <strong>Email:</strong> Office@brcafirm.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p> Stay informed and empowered! Sign up for our newsletter to receive the latest updates, insights, and exclusive offers directly to your inbox.
               Join our community of savvy professionals and take your financial knowledge to the next level..</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BRCA Consultancy</strong>. All Rights Reserved by GRS_IT
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
