{% extends "partials\base.html" %}
{% load static %}
{% block content%}
  <main id="main">
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Company Registeration with Scep</h3>
          <p><br>The process of company registration in Pakistan should be accomplished to show the presence of a company as a legal entity. Securities and Exchange Commission of Pakistan (SECP) is the only regulatory authority in Pakistan that grant access to company registration for business entities by the Government of Pakistan.</p>
        </header>
      </div>
    </section>
    <section>
        <div class="container">
          <h3><b>
            Essential Procedures for Company Registration in Pakistan</b></h3>
       <ul>
        <li>
            <h5><b>Name Selection and Approval:</b></h5><br>
            <p>At the outset, companies must meticulously select a distinct name for their entity and seek endorsement from the Securities and Exchange Commission of Pakistan (SECP).</p>
        </li>
        <li>
            <h5><b>Fee Settlement:</b></h5>
            <p>Following the endorsement of the company name, companies are required to remit the requisite registration fee to SECP.</p>
        </li>
        <li>
            <h5><b>Document Compilation and Submission:</b></h5>
            <p>Thorough documentation in accordance with regulatory stipulations must be meticulously compiled and submitted to SECP for the formal registration of the company.</p>
        </li>
        <li>
            <h5><b>Tax Registration Obligations: </b></h5>
            <p>It is imperative to fulfill tax registration prerequisites encompassing income, sales, and professional taxes to ensure compliance with legal frameworks.</p>
        </li>
        <li>
            <h5><b>Incorporation Services Encompass:</b></h5>
            <p>
                Facilitation in selecting and securing SECP endorsement for the company name.<br>
Timely remittance of registration fees.<br>
Methodical compilation and submission of pertinent documents to SECP.<br>
Completion of requisite registrations for income, sales, and professional taxes.<br>
            </p>
        </li>
       </ul>
        </div>
    </section>
   
  
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Get in Touch</h3>
        <p> Partner with GRS Consultancy to navigate the complexities of corporate registration and licensing with confidence. Let us be your trusted partner in achieving compliance and unlocking opportunities for growth and success.</p>
        <a class="cta-btn" href="{% url 'core:index'%}#contact}">Contact us Today-></a>

  </div>
 </section>
  </main>
  {%endblock content%}